##### This notebook combines the data pulled from the Ticket master API into one dataframe and save the data as Final_TicketMaster.csv

In [6]:
import pandas as pd

In [7]:
#import the csv's
music_df=pd.read_csv('TicketMaster_music.csv')
sports_df=pd.read_csv('TicketMaster_sports.csv')

In [13]:
music_df.drop_duplicates(inplace=True)

In [14]:
# Combine the 2 csv's vertically stacking them 

TicketMaster_df=pd.concat([music_df,sports_df],axis=0)

In [15]:
TicketMaster_df.shape

(1806, 17)

In [16]:
# save this to a csv
TicketMaster_df.to_csv("TicketMaster_merged.csv",index=False)

In [5]:
TicketMaster_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3706 entries, 0 to 805
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Event_name          3706 non-null   object
 1   Event_type          3704 non-null   object
 2   Event_dates         3706 non-null   object
 3   Event_start_times   3672 non-null   object
 4   Event_time_zone     3706 non-null   object
 5   Purchase_end_dates  3685 non-null   object
 6   Venues              3706 non-null   object
 7   City                3706 non-null   object
 8   States              3706 non-null   object
 9   Address             3706 non-null   object
 10  Latitude            3701 non-null   float64
 11  Longitude           3701 non-null   float64
 12  Additional_info     2279 non-null   object
 13  Ticket_limits       3281 non-null   object
 14  Age_restrictions    2443 non-null   object
 15  Parking             1650 non-null   object
 16  Accesibility        1618 non-null   object
dtypes: float64(2), object(15)
memory usage: 521.2+ KB

In [27]:
# Get unique combinations of latitude and 
latitude_venue=TicketMaster_df[['Latitude','City']].drop_duplicates()
latitude_venue.dropna(inplace=True)
#Extract unique latitude
latitude_array=latitude_venue['Latitude'].tolist()

# Get unique combinations of longitude and venue
longitude_venue=TicketMaster_df[['Longitude','City']].drop_duplicates()
longitude_venue.dropna(inplace=True)

#Extract unique longitude
longitude_array=longitude_venue['Longitude'].tolist()

venue_array=TicketMaster_df['Venues'].unique()
address_array=TicketMaster_df['Address'].unique()

# Get unique combinations of city and venue
city_venue = TicketMaster_df[['City', 'Venues']].drop_duplicates()

# Extract unique cities
city_array = city_venue['City'].tolist()

# Get unique combinations of state and venue
state_venue = TicketMaster_df[['States', 'Venues']].drop_duplicates()

# Extract unique cities
states_array = state_venue['States'].tolist()

print(len(latitude_array),len(longitude_array),len(venue_array),len(address_array),len(city_array), len(states_array))

270 270 270 270 270 270

In [28]:
Lat_Lon_df=pd.DataFrame({'Venue':venue_array,
                         'Address':address_array,
                         'City':city_array,
                         'State':states_array,
                         'latitude': latitude_array,
                         'longitude':longitude_array
                        })
Lat_Lon_df

,Venue,Address,City,State,latitude,longitude
0,Farm League Brewing,295 Ainslie Street S,Cambridge,Ontario,43.351280,-80.313180
1,Dickens Pub,1000 9th Avenue SW,Calgary,Alberta,51.045486,-114.083990
2,Under the Neon Palms at the El Mocambo,464 Spadina Avenue,Toronto,Ontario,43.657580,-79.400200
3,Grand Bizarre Exhibition Place,15 Saskatchewan Rd,Toronto,Ontario,43.632598,-79.423739
4,The Starlite Room,10030 – 102 Street,Edmonton,Alberta,53.546218,-113.490371
...,...,...,...,...,...,...
265,Northern Range,141 Millrand Road,Verner,Ontario,46.363530,-80.177220
266,The Royal Montreal Golf Club,25 Chemin South Ridge,Ile Bizard,Quebec,45.493332,-73.901847
267,Ancaster Fairgrounds,630 Trinity Road South,Jerseyville,Ontario,43.188710,-80.041060
268,Atlantic Canada Venue TBD,Address TBD,Halifax,Nova Scotia,44.648948,-63.572064
269,Sleeman Centre,50 Woolwich St.,Guelph,Ontario,43.547065,-80.246659

In [29]:
Lat_Lon_df.to_csv('Venue_locations.csv',index=False)